@charset "utf-8";
body{
background-color:#999999;
padding-top:50px;
}


button{
padding:0;
margin:0;
border:0;
}

#continer{
width:360px;
height:527px;
margin:auto;
border-width:10px;
border-style:solid;
border-color:#555555;
}

#screen{
padding-top:15px;
width:360px;
height:112px;
background-color:#f7f8fa;
}


#screenUp{
margin:auto;
width:330px;
height:42px;
background-color:#2c2f34;
}

#screenUp p{
padding:0px;
margin:10px 10px 0px 0px;
font-family:Microsoft YaHei;
font-size:24px;
color:#ffffff;
float:right;
}

#screenDown{
margin:auto;
width:330px;
height:70px;
background-color:#2c2934;
}

#screenDown p{
padding:0px;
margin:5px 10px 0px 0px;
font-family:Microsoft YaHei;
font-size:48px;
font-weight:bold;
color:#ffffff;
float:right;
}

#keyboard{
width:360px;
height:385px;
padding-top:15px;
background-color:#f7f8fa;
}



#bt{
width:40px;
height:60px;
}


#colLeft{
padding-left:15px;
width:255px;
height:380px;
float:left;
}

#colRight{
width:90px;
height:380px;
float:left;
}

#key0{
width:160px;
}

#keyC{
color:#ff7f3f;
}



#keyEqual{
background-color:ff7f3f;
height:142px;
}

#keyEqual:hover{
background-color:f06d2b;
height:142px;
}

#keyEqual p{
margin:90px 5px 0px 0px;
}

#version{

width:360px;
height:20px;
margin:auto;

}

#version p{
padding:10px 0px;
margin:0px;
font-family:Times;
color:#ffffff;
float:right;
}


.key{
width:75px;
height:66px;
background-color:#e8e8e8;
margin-right:10px;
margin-bottom:10px;	
float:left;
border-radius: 5px;
color:#545454;
}

.key:hover{
width:75px;
height:66px;
background-color:#d2d7d9;
margin-right:10px;
margin-bottom:10px;	
float:left;
cursor:hand;
color:#ffffff;

}

.key p{
margin:15px 5px 5px 0px;
font-family:STHupo;
font-size:44px;
float:right;
}



